<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
	<title>产品详情</title>
	<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
	<script type="text/javascript" src="../../js/modules/jquery.js"></script>
	<script type="text/javascript" src="../../js/sea.js"></script>
	<script type="text/javascript" src="../../js/json2.js"></script>
	<script type="text/javascript" src="../../js/StringBuilder.js"></script>
	<script type="text/javascript" src="../../js/support.js"></script>
	<script>
		seajs.config({
			base: "../../js/modules/"
		});
		seajs.use('view/product/footerPop');
	</script>

	<body>
		<footer id="footerTools" class="footer footerInner clearfix" style="display: none;">
			<span dir="addFriend" class="floatleft marl15" style="display: none;">关注</span>
			<span dir="delFriend" class="floatleft marl15" style="display: none;">取消关注</span>
			<span dir="message" class="floatright">立即沟通</span>
		</footer>
	</body>

</html>