<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /> 
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<title>header</title> 
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<script type="text/javascript" src="../../js/modules/jquery.js"></script>
		<script type="text/javascript" src="../../js/sea.js"></script>
		<script type="text/javascript" src="../../js/json2.js"></script>
		<script type="text/javascript" src="../../js/StringBuilder.js"></script>
		<script type="text/javascript" src="../../js/support.js"></script>
		<script>
			seajs.config({
				base: "../../js/modules/"
			});
			seajs.use('view/product/headerPop');
		</script>
	</head>
	<body>
		<header class="header clearfix">
			<span class="icon icon-back floatleft" id="backBtn"></span>
			<ul class="nav font13 aligncenter clearfix" id="plannerSaleTab">
				<li dir="sale">在售中</li>
				<li dir="favorites">收藏夹</li>
				<li dir="saleOff">已下架</li>
			</ul>
			<span class="icon icon-more floatright" id="moreBtn"></span>
		</header>
	</body>
</html>
