<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /> 
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<title>添加理财产品</title>
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<script type="text/javascript" src="../../js/modules/jquery.js"></script>
		<script type="text/javascript" src="../../js/sea.js"></script>
		<script type="text/javascript" src="../../js/json2.js"></script>
		<script type="text/javascript" src="../../js/StringBuilder.js"></script>
		<script type="text/javascript" src="../../js/support.js"></script>
		<script>
			seajs.config({
				base: "../../js/modules/"
			});
			seajs.use('view/product/send');
		</script>
	</head>
	<body >
		<header class="header">
			<span class="icon icon-back floatleft" id="backBtn"></span>
			<h1 class="aligncenter font17">添加产品</h1>
			<div class="next_step" id="sendBtn"><span class="headerBtn aligncenter">发布</span></div>
		</header>
		<div class="main p-bt10" style="position: absolute;bottom: 0px;top: 60px;">
			<ul class="inputList productList mart15" id="productSaleNumUL">
			</ul>
		</div>
	</body>
</html>
