<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
		<title>添加理财产品</title>
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<script type="text/javascript" src="../../js/modules/jquery.js"></script>
		<script type="text/javascript" src="../../js/sea.js"></script>
		<script type="text/javascript" src="../../js/json2.js"></script>
		<script type="text/javascript" src="../../js/StringBuilder.js"></script>
		<script type="text/javascript" src="../../js/support.js"></script>
		<script type="text/javascript" src="../../js/autosize.js"></script>
		<script>
			seajs.config({
				base: "../../js/modules/"
			});
			seajs.use('view/product/updateFund');
		</script>
	</head>

	<body >
		<header class="header">
			<span class="icon icon-back floatleft" id="backBtn"></span>
			<h1 class="aligncenter font17" style="left:70px;right:70px;">编辑产品</h1>
			<div class="next_step" id="saveBtn"><span class="headerBtn aligncenter">保存</span></div>
		</header>
		<div class="main p-bt10 Ios_scroll" style="position: absolute;bottom: 50px;top: 34px;">
			<form name="editForm" id="editForm">
				<ul id="productDataUL" class="inputList mart15">
					<li class="opacityMask clearfix" controlType="text">
						<span class="lable">名称</span>
						<input type="text" id="productName" name="productName" class="alignright" readonly="readonly" />
					</li>
					<li class="opacityMask clearfix" controlType="text" id="selectProductOrg">
						<span class="lable">发行机构</span>
						<input type="text" id="orgName" name="orgName" class="alignright" readonly="readonly" />
					</li>
					<li class="opacityMask clearfix" controlType="text" id="selectFundType">
						<span class="lable">基金类型</span>
						<input type="text" id="fundType" name="fundType" class="alignright" readonly="readonly" />
					</li>
				</ul>
				<ul id="descUL" class="inputList textareaLi mart15">
					<li class="clearfix noboder" controlType="text">
						<span class="lable">产品描述</span>
						<p>
							<textarea id="remarks" name="remarks" class="textBox"></textarea>
						</p>
						<label class="lableTxt"></label>
					</li>
				</ul>
				<input type="hidden" id="org.guiceside.web.jsp.taglib.Token" name="org.guiceside.web.jsp.taglib.Token"/>
				<input type="hidden" id="id" name="id"/>
				<input type="hidden" id="attToken" name="attToken"/>
				<input type="hidden" class="alignright" id="typeId" name="typeId" />
				<input type="hidden" class="alignright" id="productOrgId" name="productOrgId" />
			</form>
			<ul class="inputList imgList mart15" id="imgUL" style="display: none;">
				<li class="clearfix noboder Ios_scroll" style="overflow-y: hidden;">
					<div class="ImgBox" style="width:1000px">
						
					</div>
				</li>
			</ul>
		</div>
	</body>

</html>