<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
		<title>添加理财产品</title>
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<script type="text/javascript" src="../../js/modules/jquery.js"></script>
		<script type="text/javascript" src="../../js/sea.js"></script>
		<script type="text/javascript" src="../../js/json2.js"></script>
		<script type="text/javascript" src="../../js/StringBuilder.js"></script>
		<script type="text/javascript" src="../../js/support.js"></script>
		<script type="text/javascript" src="../../js/autosize.js"></script>
		<script>
			seajs.config({
				base: "../../js/modules/"
			});
			seajs.use('view/product/updateFinancial');
		</script>
	</head>

	<body>
		<header class="header">
			<span class="icon icon-back floatleft" id="backBtn"></span>
			<h1 class="aligncenter font17" style="left:70px;right:70px;">编辑产品</h1>
			<div class="next_step" id="saveBtn"><span class="headerBtn aligncenter">保存</span></div>
		</header>
		<div class="main p-bt10 Ios_scroll" style="position: absolute;bottom: 50px;top: 34px;">
			<form name="editForm" id="editForm">
				<ul id="productDataUL" class="inputList mart15">
					<li class="clearfix" controlType="text">
						<span class="lable">名称</span>
						<input type="text" id="productName" name="productName" class="alignright" placeholder="未填写" readonly="readonly"/>
						<label class="lableTxt"></label>
					</li>
				</ul>
				<p class="title font14 clearfix alignright" style="position:relative;bottom:-5px;"><span class="floatleft marl10">第1个理财产品</span></p>
				<ul class="productDataUL inputList mart5" index="1">
					<li class="clearfix" controlType="text">
						<span class="lable">代码</span>
						<input type="text" id="code_1" name="code_1" class="alignright" placeholder="未填写" readonly="readonly"/>
						<label class="lableTxt"></label>
					</li>
					<li class="clearfix" controlType="text">
						<span class="lable">名称</span>
						<input type="text" id="name_1" name="name_1" class="alignright" placeholder="未填写" readonly="readonly"/>
						<label class="lableTxt"></label>
					</li>
					<li class="clearfix" controlType="text" id="selectProductOrg_1" name="selectProductOrg_1" readonly="readonly">
						<span class="lable">发行机构</span>
						<span class="alignright placeTxt nobg nopadding">请选择</span>
						<input type="hidden" class="alignright" id="productOrgId_1" name="productOrgId_1" readonly="readonly"/>
						<label class="lableTxt"></label>
					</li>
					<li class="clearfix" controlType="text" id="selectPayOffType_1" name="selectPayOffType_1" readonly="readonly">
						<span class="lable">收益类型</span>
						<input type="hidden" class="alignright" id="payOffType_1" name="payOffType_1" readonly="readonly"/>
						<span class="alignright placeTxt nobg nopadding">请选择</span>
						<label class="lableTxt"></label>
					</li>
					<li class="clearfix"  controlType="text">
						<span class="lable">起购金额</span><span class="floatright marr10">万元</span>
						<input style="width:50%;" type="number" id="purchaseAmount_1" name="purchaseAmount_1" class="alignright" placeholder="未填写" readonly="readonly"/>
						<label class="lableTxt"></label>
					</li>
					<li class="clearfix"  controlType="text" id="selectDate_1" name="selectDate_1">
						<span class="lable">募集起止日期</span>
						<input type="hidden" class="alignright" id="startDate_1" name="startDate_1" readonly="readonly"/>
						<input type="hidden" class="alignright" id="endDate_1" name="endDate_1" readonly="readonly"/>
						<span class="alignright placeTxt nobg nopadding" style="width:54%;">请选择</span>
						<label class="lableTxt"></label>
					</li>
					<li class="clearfix" controlType="number">
						<span class="lable">计息天数</span>
						<input type="number" id="accrualDay_1" name="accrualDay_1" class="alignright" placeholder="未填写" />
						<label class="lableTxt"></label>
					</li>
					<li class="clearfix" controlType="text" id="selectExpireDate_1" name="selectExpireDate_1">
						<span class="lable">到期日</span>
						<span class="alignright placeTxt nobg nopadding">请选择</span>
						<input type="hidden" class="alignright" id="expireDate_1" name="expireDate_1" readonly="readonly"/>
						<label class="lableTxt"></label>
					</li>
					<li class="clearfix" controlType="number">
						<span class="lable">预期收益率</span><span class="floatright marr10">%</span>
						<input style="width:50%;" type="number" id="yield_1" name="yield_1" class="alignright" placeholder="未填写" readonly="readonly"/>
						<label class="lableTxt"></label>
					</li>
				</ul>
				<ul id="descUL" class="inputList textareaLi mart15">
					<li class="clearfix noboder" controlType="text">
						<span class="lable">产品描述</span>
						<input type="hidden" id="remarks" name="remarks"/>
						<div class="textBox" contenteditable="true" id="remarksDIV" name="remarksDIV"></div>
						<label class="lableTxt"></label>
					</li>
				</ul>
				<input type="hidden" id="org.guiceside.web.jsp.taglib.Token" name="org.guiceside.web.jsp.taglib.Token" />
				<input type="hidden" id="id" name="id" />
				<input type="hidden" id="attToken" name="attToken" />
				<input type="hidden" class="alignright" id="typeId" name="typeId" />
				<input type="hidden" id="financialCount" name="financialCount"/>
				<input type="hidden" class="alignright" id="productOrgId" name="productOrgId" />
				<input type="hidden" id="productIndex" name="productIndex"/>
				<input type="hidden" id="editType" name="editType" value="update"/>
			</form>
			<ul class="inputList imgList mart15" id="imgUL" style="display: none;">
				<li class="clearfix noboder Ios_scroll" style="overflow-y: hidden;">
					<div class="ImgBox" style="width:1000px">

					</div>
				</li>
			</ul>
		</div>
	</body>

</html>