<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
	<title>产品详情</title>
	<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
	<script type="text/javascript" src="../../js/modules/jquery.js"></script>
	<script type="text/javascript" src="../../js/sea.js"></script>
	<script type="text/javascript" src="../../js/json2.js"></script>
	<script type="text/javascript" src="../../js/StringBuilder.js"></script>
	<script type="text/javascript" src="../../js/support.js"></script>
	<script>
		seajs.config({
			base: "../../js/modules/"
		});
		seajs.use('view/product/viewFund');
	</script>
	<body class="androidMain">
		<div class="main" style="display: none;" id="contentMain">
			<div class="oneCard detail">
				<div class="font11 title color-a alignright">
					<span class="tips tips-j floatleft strong">基 金</span>
					<span class="color-3 font17 strong txt_hidden" style="width:86%;" id="name"></span>
				</div>
				<div class="clearfix mart5">
					<span class="font14 floatleft inlineblock marl10 color-6">期限:<em class="color-6" id="dayLimit">无期限</em></span>
					<div class="floatright alignright marr10">
						<p class="font11 color-a">基金类型</p>
						<span class="tipsBig font25 color-white"><span id="fundTypeDesc"></span></span>
					</div>
				</div>
				<div class="cardBottom clearfix alignright mart10">
					<span class="floatleft color-a marl10" id="updateTime"></span>
					<span class="clearfix "><i class="icon icon-eye floatleft"></i><em class="color-9 floatleft" id="viewCount"></em></span>
					<span class="clearfix marr10"><i class="icon icon-change floatleft"></i><em class="color-9 floatleft" id="relationCount"></em></span>
				</div>
			</div>
			<ul class="inputList detail mart10">
				<li class="clearfix">
					<span class="lable">发行机构</span>
					<span class="alignright placeTxt nobg nopadding" id="orgName"></span>
				</li>
				<li class="clearfix">
					<span class="lable">基金类型</span>
					<span class="alignright placeTxt nobg nopadding" id="fundType"></span>
				</li>
			</ul>
			<ul class="inputList mart10">
				<li class="clearfix noboder">
					<span class="lable">产品描述</span>
					<p class="font15 txt" id="remarks">
					</p>
				</li>
			</ul>
		</div>
		<footer class="footer footerInner clearfix" id="showImgBtn" style="display: none;">
			<p class="aligncenter font14 color-8"><img src="../../img/top_arrow.png" width="20" class="marr10">上拉查看图片详情</p>
		</footer>
	</body>

</html>