<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
		<title>个人信息-姓名修改</title>
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<script type="text/javascript" src="../../js/modules/jquery.js"></script>
		<script type="text/javascript" src="../../js/sea.js"></script>
		<script type="text/javascript" src="../../js/json2.js"></script>
		<script type="text/javascript" src="../../js/StringBuilder.js"></script>
		<script type="text/javascript" src="../../js/support.js"></script>
		<script>
			seajs.config({
				base: "../../js/modules/"
			});
			seajs.use('view/my/edit');
		</script>
	</head>

	<body style="padding-top: 50px;">
		<header class="header">
			<span class="icon icon-back floatleft" id="backBtn"></span>
			<!--<span class="headerBtn prev_step aligncenter">上一步</span>-->
			<h1 class="aligncenter font17"></h1>
			<!--<span class="headerBtn aligncenter">下一步</span>-->
			<div class="next_step" id="saveBtn"><span class="headerBtn aligncenter">保存</span></div>
		</header>

		<div class="main" style="top: 50px;">
			<ul class="inputList mart15">
				<li class="clearfix" controlType="text">
					<input type="text" id="codeValue" name="codeValue" class="LineInt" placeholder="请输入..." />
					<label class="lableTxt" style="width: 100%;"></label>
				</li>
			</ul>
		</div>
	</body>

</html>