<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
		<title>个人信息</title>
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<script type="text/javascript" src="../../js/modules/jquery.js"></script>
		<script type="text/javascript" src="../../js/sea.js"></script>
		<script type="text/javascript" src="../../js/json2.js"></script>
		<script>
			seajs.config({
				base: "../../js/modules/"
			});
			seajs.use('view/my/info');
		</script>
	</head>
	<header class="header">
		<span class="icon icon-back floatleft" id="backBtn"></span>
		<!--<span class="headerBtn prev_step aligncenter">上一步</span>-->
		<h1 class="aligncenter font17">个人信息</h1>
	</header>
	<div class="main" style="top: 50px;">
		<ul class="inputList mart15" id="editUL">
			<li class="clearfix" dir="headImgUrl">
				<span class="lable mart10">头像</span>
				<span class="alignright placeTxt"><span class="userPhoto"><img src=""></span></span>
			</li>
			<li class="clearfix" dir="userName">
				<span class="lable">真实姓名</span>
				<span class="alignright placeTxt"></span>
			</li>
			<li class="clearfix" dir="orgName">
				<span class="lable">所在机构</span>
				<span class="alignright placeTxt"></span>
			</li>
			<li class="clearfix" dir="plannerNo">
				<span class="lable">工号</span>
				<span class="alignright placeTxt"></span>
			</li>
			<!--<li class="clearfix" dir="reCode">
				<span class="lable">二维码</span>
				<span class="alignright placeTxt"><img src="../../img/code.png" width="18"></span>
			</li>-->
			<li class="clearfix" dir="signature">
				<span class="lable">签名</span>
				<span class="alignright placeTxt txt_hidden" style="width:70%;"></span>
			</li>
		</ul>
		<ul class="inputList ulBg mart15 nopadding">
			<li class="clearfix">
				<i class="icon icon-phone floatleft"></i>
				<span class="lable">设置</span>
			</li>
		</ul>
	</div>
	</body>

</html>