<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
		<title>个人信息-姓名修改</title>
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<script type="text/javascript" src="../../js/modules/jquery.js"></script>
		<script type="text/javascript" src="../../js/sea.js"></script>
		<script type="text/javascript" src="../../js/json2.js"></script>
		<script type="text/javascript" src="../../js/StringBuilder.js"></script>
		<script type="text/javascript" src="../../js/support.js"></script>
		<script>
			seajs.config({
				base: "../../js/modules/"
			});
			seajs.use('view/my/password');
		</script>
	</head>

	<body>
		<header class="header">
			<span class="icon icon-back" id="backBtn"></span>
			<h1 class="aligncenter font17">密码重置</h1>
		</header>
		<div class="main" style="min-height:50%;padding:60px 0 0 0">
			<ul class="inputList">
				<li class="clearfix" controlType="number">
					<span class="lable">验证码</span>
					<input type="tel" id="verifyCode" name="verifyCode" class="alignright" placeholder="请输入短信验证码" />
					<label class="lableTxt"></label>
				</li>
			</ul>
			<p class="alignright mart10"><span class="font15 getNum  marr10" id="verifyCodeBtn" wait="N">获取短信验证码</span></p>
			<p class="title font14 aligncenter">请重置您的密码</p>
			<ul class="inputList">
				<li class="clearfix" controlType="password">
					<span class="lable font16">新密码</span>
					<input type="password" id="password" name="password" class="alignright" placeholder="以英文开头,必须包含数字,8-20位" readonly="readonly" />
					<label class="lableTxt"></label>
				</li>
				<li class="clearfix" controlType="password">
					<span class="lable font16">确认密码</span>
					<input type="password" id="confirmPassword" name="confirmPassword" class="alignright" placeholder="请再次输入密码" readonly="readonly" />
					<label class="lableTxt"></label>
				</li>
			</ul>
		</div>
		<span class="btn btnBottom font16" id="saveBtn">完&nbsp;&nbsp;成</span>
	</body>

</html>