<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<script type="text/javascript" src="../../js/modules/jquery.js"></script>
		<script type="text/javascript" src="../../js/sea.js"></script>
		<script type="text/javascript" src="../../js/json2.js"></script>
		<script type="text/javascript" src="../../js/StringBuilder.js"></script>
		<script type="text/javascript" src="../../js/support.js"></script>
		<script>
			seajs.config({
				base: "../../js/modules/"
			});
			seajs.use('view/customer/customerList');
		</script>

		<body>
			<div class="main ">
				<!--搜索begin-->
				<div class="searchBar" style="margin-top:0px;">
					<input type="search" class="langTxt font14 " placeholder="手机号/姓名" id="keyword" name="keyword">
				</div>
				<!--搜索over-->
				<p class="p-bt10 p-top10 color-a font14 aligncenter" id="blank" style="display: none;">当前无客户好友</p>
				<ul class="inputList feedList mart-1" id="friendUL" style="display: none;">
				</ul>
				<p class="checkWord marl10 font14 color-8" style="display: none;">筛选</p>
			</div>
			<section class="wordList">
				<table>
					<tr>
						<td><span>A</span></td>
						<td><span>B</span></td>
						<td><span>C</span></td>
						<td><span>D</span></td>
						<td><span>E</span></td>
						<td><span>F</span></td>
						<td><span>G</span></td>
						<td><span>H</span></td>
					</tr>
					<tr>
						<td><span>I</span></td>
						<td><span>J</span></td>
						<td><span>K</span></td>
						<td><span>L</span></td>
						<td><span>M</span></td>
						<td><span>N</span></td>
						<td><span>O</span></td>
						<td><span>P</span></td>
					</tr>
					<tr>
						<td><span>Q</span></td>
						<td><span>R</span></td>
						<td><span>S</span></td>
						<td><span>T</span></td>
						<td><span>U</span></td>
						<td><span>V</span></td>
						<td><span>W</span></td>
						<td><span>X</span></td>
					</tr>
					<tr>
						<td><span>Y</span></td>
						<td><span>Z</span></td>
						<td colspan="6"><span>0~9</span></td>
					</tr>
				</table>
			</section>
			<!--底部弹出begin-->
			
			<div class="bottomPop aligncenter " id="bottomPop">
				<span class="popBtn" id="addProductBtn">
				<i class="icon icon-plus-big"></i>
				<em class="font11 color-6">添加产品</em>
			</span>
				<span class="popBtn" id="relationProductBtn">
				<i class="icon icon-6"></i>
				<em class="font11 color-6">关联产品</em>
			</span>
			</div>
			<!--底部弹出over-->
		</body>

</html>