<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
	<script type="text/javascript" src="../../js/modules/jquery.js"></script>
	<script type="text/javascript" src="../../js/sea.js"></script>
	<script type="text/javascript" src="../../js/json2.js"></script>
	<script type="text/javascript" src="../../js/StringBuilder.js"></script>
	<script type="text/javascript" src="../../js/support.js"></script>
	<script>
		seajs.config({
			base: "../../js/modules/"
		});
		seajs.use('view/customer/header');
	</script>
	<body>
		<header class="header clearfix">
			<h1 class="aligncenter font17">客户好友</h1>
			<span class="icon icon-addf floatright" id="plusBtn"><i class="icon icon-p" style="display: none;"></i></span>
		</header>
	</body>

</html>