<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /> 
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
		<title>评论</title>
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<script type="text/javascript" src="../../js/modules/jquery.js"></script>
		<script type="text/javascript" src="../../js/sea.js"></script>
		<script type="text/javascript" src="../../js/json2.js"></script>
		<script type="text/javascript" src="../../js/StringBuilder.js"></script>
		<script type="text/javascript" src="../../js/support.js"></script>
		<script type="text/javascript" src='../../js/autosize.js'></script>
		<script>
			seajs.config({
				base: "../../js/modules/"
			});
			seajs.use('view/pm/chat');
		</script>
		<style>
		#content,#content *{
			-webkit-user-select: auto;
		}
		</style>
	</head>
	<body class="bgwhite">
		<div class="main" style="position: absolute;top:0;left:0;bottom:50px;min-height:70%;overflow-y: auto;">
			<p class="aligncenter"><span class="timeBar">2015年8月31日 上午9:00</span></p>
			<section class="feedLeft clearfix">
				<span class="inlineblock userPhoto"><img src="../../img/100.png"></span>
				<div class="feed"><span class="feedBar"></span>你瞅啥！？</div>
			</section>
			<section class="feedLeft clearfix">
				<span class="inlineblock userPhoto"><img src="../../img/100.png"></span>
				<div class="feed"><span class="feedBar"></span>瞅你咋地！</div>
			</section>
			<section class="feedLeft feedRight clearfix">
				<span class="inlineblock userPhoto"><img src="../../img/1.jpg"></span>
				<div class="feed "><span class="feedBar"></span>你特么的再瞅一个试试</div>
			</section>
			<section class="feedLeft clearfix">
				<span class="inlineblock userPhoto"><img src="../../img/100.png"></span>
				<div class="feed"><span class="feedBar"></span>他妈的，试试就试试！</div>
			</section>
			<p class="aligncenter"><span class="timeBar">2015年8月31日 上午9:00</span></p>
			<section class="feedLeft feedRight clearfix">
				<span class="inlineblock userPhoto"><img src="../../img/1.jpg"></span>
				<div class="feed"><span class="feedBar"></span>你麻痹，你说话啊！咋不说话了，吓跑了？</div>
			</section>
			<section class="feedLeft feedRight clearfix">
				<span class="inlineblock userPhoto"><img src="../../img/1.jpg"></span>
				<div class="feed"><span class="feedBar"></span>你麻痹，你说话啊！操</div>
			</section>
			<section class="feedLeft feedRight clearfix">
				<span class="inlineblock userPhoto"><img src="../../img/1.jpg"></span>
				<div class="feed"><span class="feedBar"></span>你说话啊！操</div>
			</section>
			<p class="aligncenter"><span class="timeBar">您已被对方拉黑！</span></p>
			<p class="aligncenter"><span class="timeBar">您已成功添加对方为好友</span></p>
			<section class="feedLeft clearfix">
				<span class="inlineblock userPhoto"><img src="../../img/100.png"></span>
				<div class="feed"><span class="feedBar"></span>对不起阳哥，小强子我错了，钱不用还了！原谅我吧！org</div>
			</section>
			<section class="feedLeft feedRight clearfix">
				<span class="inlineblock userPhoto"><img src="../../img/1.jpg"></span>
				<div class="feed"><span class="feedBar"></span>小爷我原谅你了</div>
			</section>

		</div>
		<!--产品评论的底部begin-->
		<footer class="footer footerInner clearfix " style="height:auto;min-height:49px;">
			<div class="commentInt floatleft color-9"  style="position: absolute;display: none;" id="replyTip"></div>
			<div id="content" name="content" class="commentInt floatleft" contenteditable="true"></div>
			<a class="btnSend floatleft" href="javascript:;">发 送</a>
		</footer>
		<!--产品评论的底部over-->
	</body>
</html>
