<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
		<title>添加好友</title>
		<link rel="stylesheet" type="text/css" href="../../css/appstyle.css">
		<script type="text/javascript" src="../../js/modules/jquery.js"></script>
		<script type="text/javascript" src="../../js/sea.js"></script>
		<script type="text/javascript" src="../../js/json2.js"></script>
		<script type="text/javascript" src="../../js/StringBuilder.js"></script>
		<script type="text/javascript" src="../../js/support.js"></script>
		<script>
			seajs.config({
				base: "../../js/modules/"
			});
			seajs.use('view/friend/addNew');
		</script>
	</head>

	<body >
		<div class="main" >
			<!--搜索begin-->
			<form onsubmit="return false;">
				<div class="searchBar" style="margin-top:0px;">
					<input type="search" id="keyword" name="keyword" class="langTxt font14 " placeholder="姓名">
				</div>
			</form>
			<!--搜索over-->
			<ul class="inputList ulBg mart-1 nopadding ulIco">
				<li class="clearfix" id="addPhoneContacts">
					<i class="icon icon-phone floatleft"></i>
					<span class="lable floatleft">添加手机联系人</span>
					<i class="icon icon-p" style="display: none;"></i>
				</li>
				<li class="clearfix" id="investorBtn">
					<i class="icon icon-clock floatleft"></i>
					<span class="lable floatleft">最近访问</span>
				</li>
			</ul>
			<p class="p-bt10 p-top10 color-a font14 aligncenter" id="blank" style="display: none;">当前暂无新关注我的同业好友</p>
			<p class="title font12 aligncenter" id="newFollow" style="display: none;">新关注我的同业好友</p>
			<ul class="inputList feedList" id="followUL" style="display: none;">
			</ul>
		</div>
	</body>

</html>