<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
		<title>footer</title>
		<link rel="stylesheet" type="text/css" href="../css/appstyle.css">
		<script type="text/javascript" src="../js/modules/jquery.js"></script>
		<script type="text/javascript" src="../js/sea.js"></script>
		<script type="text/javascript" src="../js/json2.js"></script>
		<script>
			seajs.config({
				base: "../js/modules/"
			});
			seajs.use('view/home');
		</script>
	</head>

	<body>
		<footer class="footer clearfix" id="footerAction">
			<span lang="0" dir="room"><i class="icon icon-home"></i>理财室</span>
			<span lang="0" dir="friend"><i class="icon icon-friend"></i>同行好友</span>
			<span lang="0" dir="plusBtn" id="plusBtn" class=""><i class="icon icon-plus"></i></span>
			<span lang="0" dir="customer"><i class="icon icon-friends"></i>客户好友</span>
			<span lang="0" dir="tip"><i class="icon icon-msg"></i>消息提醒</span>
		</footer>
	</body>

</html>